:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




#root {
  width: 100%;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
}

.board-row {
  display: flex;
}

.square {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
  outline: none;
}

.winning-square {
  background-color: #646cff;
}

.square.has-value:hover, .square.has-value:focus, .square.has-value:focus-visible {
  outline: none;
  border: none;
  cursor: default;
}

.message {
  text-align: center;
}

.btn-reset-game {
  margin-top: 20px;
    margin-left: 115px;
}

.square-text {
  font-size: 3em;
  font-weight: bold;
  line-height: 10px;
  text-align: center;
}